<div *ngIf="!detalle">
    <app-search (buscarEmmiter)="loadVehiculo($event)"></app-search>
    <app-list [listaVehiculos]="listaVehiculos" (vehiculoEmmiter)="recibeVehiculo($event)" [total]="total"
              [siguiente]="siguiente" [anterior]="anterior" [paginasFaltantes]="paginasFaltantes"
              (paginadorEmmiter)="loadVehiculoList($event)"></app-list>
</div>
<div *ngIf="detalle">
    <app-detalle [vehiculo]="vehiculo" (detailEmmiter)="recibeVolver($event)"></app-detalle>
</div>

