<div id="player">
    <audio autoplay hidden>
     <source src="https://ia801703.us.archive.org/15/items/StarWarsThemeSongByJohnWilliams/Star%20Wars%20Theme%20Song%20By%20John%20Williams.mp3" type="audio/mpeg">
                If you're reading this, audio isn't supported. 
    </audio>

</div>
   <div class="container bg-dark p-2 mt-2 rounded ">
        <div id="prox" class="carousel slide p-0 m-0" data-ride="carousel" data-interval="7000">
            <ul class="carousel-indicators">
                <li data-target="#prox" data-slide-to="0" class="active"></li>
                <li data-target="#prox" data-slide-to="1"></li>
                <li data-target="#prox" data-slide-to="2"></li>
                <li data-target="#prox" data-slide-to="3"></li>
                <li data-target="#prox" data-slide-to="4"></li>
                <li data-target="#prox" data-slide-to="5"></li>
                <li data-target="#prox" data-slide-to="6"></li>
                <li data-target="#prox" data-slide-to="7"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item shadow active">
                    <div style="background-image: url('https://wallpapercave.com/wp/wp1884717.jpg'); width:100%; height:30vh; background-size: cover;  background-position: top center;  background-repeat: no-repeat"></div>
                </div>
                <div class="carousel-item shadow">
                    <div style="background-image: url('https://wallpapercave.com/wp/wp3390444.jpg'); width:100%; height:30vh; background-size: cover;  background-position: top center;  background-repeat: no-repeat"></div>
                </div>
                <div class="carousel-item shadow">
                    <div style="background-image: url('https://wallpapercave.com/wp/wp3614448.jpg'); width:100%; height:30vh; background-size: cover;  background-position: top center;  background-repeat: no-repeat"></div>
                </div>
                <div class="carousel-item shadow">
                    <div style="background-image: url('https://wallpapercave.com/wp/wp3614454.jpg'); width:100%; height:30vh; background-size: cover;  background-position: top center;  background-repeat: no-repeat"></div>
                </div>
                <div class="carousel-item shadow">
                    <div style="background-image: url('https://wallpapercave.com/wp/wp3614456.jpg'); width:100%; height:30vh; background-size: cover;  background-position: top center;  background-repeat: no-repeat"></div>
                </div>
                <div class="carousel-item shadow">
                    <div style="background-image: url('https://wallpapercave.com/wp/wp3614483.jpg'); width:100%; height:30vh; background-size: cover;  background-position: top center;  background-repeat: no-repeat"></div>
                </div>
                <div class="carousel-item shadow">
                    <div style="background-image: url('https://wallpapercave.com/wp/wp3614485.jpg'); width:100%; height:30vh; background-size: cover;  background-position: top center;  background-repeat: no-repeat"></div>
                </div>
                <div class="carousel-item shadow">
                    <div style="background-image: url('https://wallpapercave.com/wp/wp2670943.jpg'); width:100%; height:30vh; background-size: cover;  background-position: top center;  background-repeat: no-repeat"></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#prox" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#prox" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
<div class="row pt-2">
     <div class="col-6">
      <div class="p-2 border rounded bg-dark">
       <div class="bg-white rounded p-2">
        <ul>
            <li><a class="nav-link" routerLinkActive="active" routerLink="/especies"><i class="bg-nav-logo fa fa-bug" aria-hidden="true"></i> Especies</a></li>
            <li><a class="nav-link" routerLinkActive="active" routerLink="/personas"><i class="bg-nav-logo fa fa-user-o" aria-hidden="true"></i> Personas</a></li>
            <li><a class="nav-link" routerLinkActive="active" routerLink="/peliculas"><i class="bg-nav-logo fa fa-film" aria-hidden="true"></i> Peliculas</a></li>
            <li><a class="nav-link" routerLinkActive="active" routerLink="/planetas"><i class="bg-nav-logo fa fa-globe" aria-hidden="true"></i> Planetas</a></li>
            <li><a class="nav-link" routerLinkActive="active" routerLink="/automoviles"><i class="bg-nav-logo fa fa-car" aria-hidden="true"></i> Vehiculos</a></li>
            <li><a class="nav-link" routerLinkActive="active" routerLink="/naves"><i class="bg-nav-logo fa fa-plane" aria-hidden="true"></i> Naves</a></li>
        </ul>
      </div>
     </div>
     </div>
     <div class="col-6">
      <div class="p-2 border rounded bg-dark">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Zj3UxeDevaE" allowfullscreen></iframe>
      </div>
      </div>
     </div>
</div>
