.bg-fondo{
    background-image: url('../../../assets/swapi.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 369px;
    position: relative;
    display: block;
    margin-top: 0px;
}