<div class="col-sm-6 mx-auto mt-2">
    <div class="card border-success mb-3">

        <div class="card-body bg-grey-1">
            <div class="card-title  text-uppercase bg-grey-6 font-w-600 font-s-1-5em">
                {{planeta.name}}
            </div>
            <h5 class="card-text text-uppercase"><strong class="bg-green-subtitle"> Clasificación: <i class="fa fa-bug"
                        aria-hidden="true"></i></strong>
                {{planeta.classification}}</h5>
            <p class="card-text">Clima: {{planeta.climate}}</p>
            <p class="card-text">Terreno: {{planeta.terrain}}</p>
            <p class="card-text">Superficie del agua: {{planeta.surface_water}}</p>
            <p class="card-text">Período rotación: {{planeta.rotation_period}}</p>
            <p class="card-text">Diámetro: {{planeta.diameter}}</p>
            <p class="card-text">Periodo orbital: {{planeta.orbital_period}}</p>
            <p class="card-text">Población: <i class="fa fa-language" aria-hidden="true"></i> {{planeta.population | number}}</p>
            <p class="card-text text-muted">Creado: <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{planeta.created | date }}</p>
            <p class="card-text text-muted">Editado: <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{planeta.edited | date }}</p>

        </div>
        <div class="card-footer bg-transparent border-success">
            <a (click)="volver()" class="card-link text-success"><i class="fa fa-arrow-circle-left"
                    aria-hidden="true"></i>
                Volver</a>
        </div>
    </div>
</div>
