<app-nav></app-nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Trabajo FrontEnd Politecnico Gran Colombiano &copy; 2019 </span>
    </div>
</footer>
