<div class="col-sm-6 mx-auto mt-2">
    <div class="card border-success mb-3">

        <div class="card-body bg-grey-1">
            <div class="card-title  text-uppercase bg-grey-6 font-w-600 font-s-1-5em">
                {{persona.name}}
            </div>
            <h5 class="card-text text-uppercase"><strong class="bg-green-subtitle"> Genero: <i class="fa fa-bug"
                        aria-hidden="true"></i></strong>
                {{persona.gender}}</h5>
            <p class="card-text">Cumpleaños: {{persona.birth_year}}</p>
            <p class="card-text">Color de ojos: {{persona.eye_color}}</p>
            <p class="card-text">Color de cabello: {{persona.hair_colors}}</p>
            <p class="card-text">Masa: {{persona.mass}}</p>
            <p class="card-text">Altura: {{persona.height}}</p>
            <p class="card-text text-muted">Creado: <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{persona.created | date }}</p>
            <p class="card-text text-muted">Editado: <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{persona.edited | date }}</p>

        </div>
        <div class="card-footer bg-transparent border-success">
            <a (click)="volver()" class="card-link text-success"><i class="fa fa-arrow-circle-left"
                    aria-hidden="true"></i>
                Volver</a>
        </div>
    </div>
</div>
