<div class="col-sm-6 mx-auto mt-2">
    <div class="card border-success mb-3">
        <div class="card-body bg-grey-1">
            <div class="card-title  text-uppercase bg-grey-6 font-w-600 font-s-1-5em">
                {{pelicula.title}}
            </div>
            <h5 class="card-text text-uppercase"><strong class="bg-green-subtitle"> Director: <i class="fa fa-bug"
                        aria-hidden="true"></i></strong>
                {{pelicula.director}}</h5>
            <p class="card-text">Descripción {{pelicula.opening_crawl}}</p>
            <p class="card-text">Episodios: {{pelicula.episode_id}}</p>
            <p class="card-text">Productor: {{pelicula.producer}}</p>
            <p class="card-text">Fecha de lanzamiento {{pelicula.release_date}}</p>
            <p class="card-text text-muted">Creado: <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{pelicula.created | date }}</p>
            <p class="card-text text-muted">Editado: <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{pelicula.edited | date }}</p>

        </div>
        <div class="card-footer bg-transparent border-success">
            <a (click)="volver()" class="card-link text-success"><i class="fa fa-arrow-circle-left"
                    aria-hidden="true"></i>
                Volver</a>
        </div>
    </div>
</div>
